body{
    padding: 0px;
    margin: 0px;
}
body > header{
    height: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
}
body > sidebar{
    height: auto;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
    float: left;
}
main{
    height: auto;
    margin-left: 300px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
}
body > footer{
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
    clear: both;
}
body > sidebar > div{
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
}
body > sidebar > div > div:first-child{
    margin: 39px 0px 0px 42px;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 1px solid black;
}
body > sidebar > div > div:last-child{
    margin: 0px 0px 10px 30px;
}
body > sidebar > div > div:last-child > form > p{
    margin: 20px 0px 0px 0px;
}
body > sidebar > div > div:last-child > form > p:last-child{
    margin-bottom: 20px;
}
body > sidebar > div > div:last-child > form > p > button[type="submit"]{
    display: inline-block;
    width: 95px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    cursor: pointer;
}
body > sidebar > div > div:last-child > form > p > button[type="submit"]:focus{
    outline: none;
}
body > sidebar > p{
    height: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
}
body > header > nav > ul{
    padding-left: 0px;
    margin: 0px 0px 0px 70px;
    list-style-type: none;
    height: auto;
}
body > header > nav > ul > li{
    display: inline-block;
    height: 60px;
    background-color:rgba(255, 255, 255, 0.2);
    border: 1px solid black;    
}
body > header > nav > ul > li > a{
    display: block;
    height: 60px;
}
main{
    height: auto;
    margin-left: 300px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
    height: 638px;
    overflow-y: scroll;
}
main > div:first-child > a{
    display: inline-block;
    width: 100px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
    margin: 10px 0px 10px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
}
main > .user_list{
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0px 30px 30px 30px;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.1);
}
main > .user_list > table{
    margin: 10px 0px 20px 30px;
}
main > .user_list > table tr{
    float: left;
}
main > .user_list > table td{
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 40px;
    text-indent: 5px;
    float: left;
    line-height: 40px;
}
main > .user_list > table td:first-child{
    width: 100px;
}
main > .user_list > table td:nth-child(n + 2){
    width: 250px;
}
#column_description > td{ 
    font-weight: 700;
}
.delete_button{
    border: 1px solid black;
    display: inline-block;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
}
.delete_button:focus{
    outline: none;
}